*{
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}
body {
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 20px #f3f3f3;
  border-radius: 10px;
  border: 10px solid #f1f1f1;
  &__sidebar{
    background-color: #f4f6f8;
    width: 200px;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }
  &__list {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      &.active{
        background: #fff;
        border-radius: 4px;
        padding: 10px 12px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
        cursor: pointer;
      }
    }
    i {
      margin-right: 10px;
      img{
        opacity: .6;
      }
    }
  }
}